
<h1>Welcome to infinitesketch</h1>
{{#if user}}
<p>You are logged in..</p>
{{else}}
<a href="/auth/facebook">
<button type="button" disabled class="btn btn-primary btn-lg">Login With Facebook</button >
</a>
<br><br>
<a href="/auth/facebook">
<button type="button" class="btn btn-danger btn-lg">Login With Google</button>
</a>
{{/if}}
